/*************** 0. eneral Section ***************/

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&Montserrat:wght@400&family=Ubuntu&display=swap');

html {
    margin: 0;
}

body {
    font-family: 'Montserrat-Thin', sans-serif;
    font-weight: 400;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.red-background {
    background-color: #FF4C68;
    color: white;
}

.default-padding {
    padding: 7% 15%;
}

/*************** 1. Title Section ***************/
h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    padding: 3% 15% 7%;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    margin-left: 2%;
    position: absolute;
}

.navbar {
    margin-bottom: 10%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    font-size: 1.2rem;
    padding: 0 18px;
}

#title button {
    margin: 5% 3% 5% 0;
}

@media (max-width: 1100px) {
    .title-image {
        transform: rotate(0);
        margin-left: 0;
        width: 40%;
        position: static;
    }

    #title {
        text-align: center;
    }
}


/************* 2. Features Section *************/
#features {
    background-color: white;
    position: relative;
    z-index: 1;
}
.features-box {
    text-align: center;
    padding: 5%;
}

.features-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.features-box i {
    color: #EF8172;
    font-size: 35px;
    padding-bottom: 15px;
}

.features-box i:hover {
    color: #FF4C68;
}

.features-box p {
    color: #8F8F8F;
}



/*********** 3. Testimonials Section ***********/
#testimonials {
    text-align: center;
}

#testimonials img {
    border-radius: 50%;
    width: 20%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}



/*************** 4. Press Section **************/
#press {
    padding-bottom: 3%;
    text-align: center;
}

#press img {
    width: 10%;
    margin: 20px 20px 50px;
}



/************** 5. Pricing Section *************/
#pricing h2, #pricing p {
    text-align: center;
}



/*************** 6. CTA Section ***************/
#cta {
    text-align: center;
}

#cta h3 {
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 2rem;
    width: 60%;
    margin: 10px auto;
}

#cta button {
    margin: 2% 1% 2% 0;
}


/************** 7. Footer Section **************/
footer {
    text-align: center;
}

footer p {
    color: #8F8F8F;
    padding-top: 20px;
}

footer i {
    padding: 0 12px;
}